* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 780px) {
  .main-view {
    width: 100%;
    height: auto;
  }

  .asside {
    display: none;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 447) {
  .main-view {
    width: 100%;
  }

  .lang-skills {
    flex-direction: row;
  }

  .descript,
  .prof {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 375px) {
  .main-view {
    width: 100%;
  }

  .discript,
  .prof p {
    max-width: 375px;
  }

  .lang-skills {
    padding: 25px 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.1%;
}

.wrapper > * {
  flex: 1 100%;
}

.asside {
  max-width: 20%;
  gap: 0.5%;
  min-height: 100%;
  background-color: rgb(40, 103, 105);
}

.main-view {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: 100%;
  align-self: center;
  border-radius: 2.5% 2.5%;
  background-color: #00005b;
}

.nav-bar {
  display: flex;
  max-width: 500px;
  height: 52px;
  justify-content: space-between;
  align-items: center;
  background-color: #00005b;
}

.menu {
  width: 30px;
  height: 2px;
  background-color: rgb(207, 184, 184);
  margin: 3px 3px;
}

.nav-item {
  color: rgb(172, 141, 141);
  padding: 6px;
  font-size: 10px;
  margin-right: 12px;
}

.nav-item a {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  max-width: 40px;
}

.nav-logo {
  padding: 16px;
  text-decoration: none;
  color: rgb(207, 184, 184);
  font-size: 19px;
  font-weight: 800;
}

.page-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #00005b;
  justify-items: center;
  align-items: center;
}

.home-content .circle-1 {
  background-image: url('./images/circle\ 1\ header@2x.jpg');
  background-position: relative;
  background-size: 19%;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
}

.descript {
  max-width: 600px;
  display: flex;
  justify-content: center;
  background-image: url('./images/circle\ 2\ hder@2x.png');
  background-position: relative;
  background-size: 18%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

h1 {
  font-size: 32px;
}

.name {
  font-weight: 500;
  color: #6495ed;
  text-align: center;
  margin: 20px 0;
}

.occupation {
  color: #afabab;
  text-align: center;
  font-weight: 400;
  font-size: 21px;
  margin-bottom: 20px;
}

.descript .prof {
  display: flex;
  max-width: 367px;
  flex-direction: column;
}

.prof p {
  color: #b3bac5;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  margin: 20px;
  line-height: 28px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.lang-skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  gap: 30px;
}

.lang-skills .lang {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
}

h5 {
  font-size: 16px;
  font-weight: 200;
  color: cornflowerblue;
  padding-left: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

.lang ul,
li {
  color: #b3bac5;
  font-size: 15px;
  padding: 0 2px;
  line-height: 25px;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  display: flex;
  height: 72px;
  max-width: 500px;
  position: relative;
  background-color: #00005b;
  justify-content: center;
  align-content: center;
  padding: 20px 0;
}

.media-icons {
  display: flex;
  align-items: center;
  position: relative;
}

.footer .fa {
  padding: 10px;
  text-align: center;
  margin: 5px 4px;
  font-size: 24px;
  max-width: 32px;
  color: #b3bac5;
  background: #00005b;
  text-decoration: none;
}

.footer li {
  display: flex;
  list-style-type: none;
}

.wd {
  float: left;
}

.wd2 {
  float: right;
}

.footer p {
  color: #808080;
  font-size: 18px;
}

/* Portfolio-Work section */

.work-content {
  display: block;
  padding: 22px;
  margin-block: 25px;
}

.recent-work > h2 {
  display: block;
  color: #6495ed;
  margin-block: 5px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.recent-work > .wh2 {
  margin-bottom: 25px;
}

.image {
  margin-block: 35px;
}

.image > img {
  height: 220px;
}

.ellips-1 {
  background-image: url("./images/Ellipse\ 19@2x.png");
  background-position: relative;
  background-size: 32%;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
}

.ellips-3 {
  background-image: url("./images/Ellipse\ 20@2x.png");
  background-position: relative;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

.multi-post > h3 {
  color: rgb(212, 212, 198);
  font-weight: 430;
  font-size: 22px;
  margin-bottom: 31px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.multi-post > p {
  color: #afabab;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 25px;
  font-family: 'Lusida Sans', Helvetica, sans-serif;
}

.specialize > li {
  display: inline-flex;
  margin-inline: 7px;
  margin-block: 10px;
  padding-bottom: 24px;
  font-size: 16px;
}

.trim-line {
  display: inline-block;
  border-left: 1px solid rgb(105, 98, 98);
  margin: 0 9px;
  height: 28px;
}

.butn {
  list-style-type: none;
}

.butn > button :hover {
  background-color: rgb(101, 101, 241);
}

.butn > button {
  cursor: pointer;
  font-size: 16px;
  color: antiquewhite;
  background-color: #1c3cee;
  padding: 15px 7px;
  border-style: none;
}


